img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  bottom: auto;
  top: 20%;
}

.carousel-caption h3 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

.carousel-caption p {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}
